@model DIValidationExample.Models.HomeIndexViewModel


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using ( Html.BeginForm( ) )
    {
	    @Html.LabelFor( x => x.Input )<br/>
	    @Html.TextBoxFor( x => x.Input )<br/><br/>

	    if ( !string.IsNullOrEmpty( Model.ResponseMessage ) )
	    {
		    @Model.ResponseMessage
		    <br/>
			 foreach ( var error in Model.ErrorList )
			  {
				  @error
			  }
	    }
	 }
</body>
</html>
